*{
  font-family: "Inter", sans-serif;
}

body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

:root {
  --text-size-0: 12px;
  --text-size-1: 14px;
  --text-size-2: 16px;
  --text-size-3: 18px;
  --text-size-4: 20px;
  --text-size-5: 24px;
  --text-size-6: 28px;
  --text-size-7: 40px;
  --text-size-8: 56px;
  --text-size-9: 84px;

  --body-a: 1500px;

  --shadow-a: 0 2px 24px rgba(0, 0, 0, 0.1);
  --shadow-b: 0 1px 2px 0 rgba(0, 0, 0, 0.12);

  --background-a: #ffffff;
  --background-b: #f5f5f7;

  --text-a: #1d1d1f;
  --text-b: #86868b;
  --text-w: #ffffff;

  --border-a: #d8d8d8;
  --border-b: #86868b;

  --primary-a: var(--orange-a);
  --primary-b: var(--gray-a);

  --radius-a: 4px;
  --radius-b: 8px;
  --radius-c: 16px;
  --radius-d: 24px;

  --blue-a: #1573ff;
  --gray-a: #2c3e50;
  --green-a: #28c76f;
  --orange-a: #ff6700;
  --yellow-a: #ffc800;
}

:root {
  --input-radius: 8px;
  --button-radius: 8px;
}


