* {
  font-family: "Inter", sans-serif;
  transition: 0.3s ease-in-out;
}

body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

:root {
  --text-size-0: 12px;   /* Smallest text: captions, sub-labels */
  --text-size-1: 14px;   /* Secondary labels, helper text */
  --text-size-2: 16px;   /* Base body text */
  --text-size-3: 18px;   /* Paragraph lead or dense UI text */
  --text-size-4: 20px;   /* Section titles or buttons */
  --text-size-5: 24px;   /* H4 */
  --text-size-6: 30px;   /* H3 */
  --text-size-7: 36px;   /* H2 */
  --text-size-8: 48px;   /* H1 */
  --text-size-9: 64px;   /* Hero / page title */
  
  --body-a: 1600px;

  --shadow-a: 0 2px 24px rgba(0, 0, 0, 0.1);
  --shadow-b: 0 1px 2px 0 rgba(0, 0, 0, 0.12);

  --background-a: #ffffff;
  --background-b: #f5f5f7;

  --text-a: #151e3a;
  --text-b: rgba(28,43,51,0.65);
  --text-w: #ffffff;

  --border-a: rgba(21, 30, 58, 0.2);

  --primary-a:hsl(190deg 150% 10%); 

  --radius-a: 4px;
  --radius-b: 6px;
  --radius-c: 12px;
  --radius-d: 24px;

  --blue-a:   #225aea;  
  --gray-a:   #334155; 
  --red-a:    #dc2626; 
  --yellow-a: #fbbc04;  
  --green-a:  #16a34a;  
  --orange-a: #ea580c; 
  --purple-a: #6366f1; 
  --pink-a:   #db2777; 
  --black-a: hsl(187.5deg 66.67% 2.35%);

  --transition-a: 0.2s ease-in-out
}

:root {
  --input-radius: var(--radius-b);
  --button-radius: var(--radius-b);
}

.flex {
  align-items: center;
  display: flex;
}

.flag {
  width: 1rem;
  height: 1rem;
}

input {
  font-size: var(--text-size-1);
}

input::placeholder {
  color: var(--text-b); 
}

label{
  font-size: var(--text-size-1);
  font-weight: 600;
}

textarea{
  font-size: var(--text-size-1);
}

textarea::placeholder {
  font-size: var(--text-size-1);
  color: var(--text-b); 
}

.center{
  justify-content: center;
}